
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Muli',sans-serif;
}

.header-nav{
  display: flex;
  align-items: center;
  min-height: 10vh;
 
}

.header-nav input{
  width: 400px;
  margin-left: 10px;
  border: 2px solid grey;
  border-radius: 5px;
}

.header-nav button{
  padding: 3px 10px;
  color: white;
  font-size: medium;
  background-color: black;
  border-color: white;
  margin-right: 10px;
}

.header-nav button:focus{
  outline: 0 !important;
}

.header-nav .child-2{

  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  
  
}




main{
  min-height: 80vh;
  width: 100%;
}
.carousel-item{
  height: 400px;
} 
.carousel-item img{
  height: 400px;
 
}

.home{

  background-color: beige !important;
   
}

.footer{
  position: relative;
  bottom: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 10vh;
  width: 100%;
  background-color: crimson;
  
}

.footer .footer-content h5{
  margin-top: 1rem;
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: #fff;
}



.cast-section{
  display: flex;
  margin-top: 2rem;
}

.cast-section .artist{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cast-section .artist img{
  height: 150px;
  width: 150px;

}


.crew-section{
  display: flex;
  margin-top: 2rem;
}

.crew-section .artist{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.crew-section .artist img{
  height: 150px;
  width: 150px;

}

.login-form{
  display: flex;
  flex-direction: column;
  margin-top: 5rem !important;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30rem;
  
}

.login-form button{
  margin-top: 1rem;
}

.error-div{
  color: red;
}

.modal-container{
  position: fixed;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
  height: 25rem;
  width: 20rem;
  top: 0;
  left: 85%;
}

.modal-card{
  width: 15rem;
  height: 3rem;
  padding: 5px;

}

.reg-form{
  display: flex;
  flex-direction: column;
  margin-top: 2rem !important;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30rem;
 
}


.reg-form input{
  margin: 0.5rem;

}

.star-rating{
  display: flex;
 
}

.screen-list-container{
  margin-top: 3rem;
}

.add-movie-form{
  padding: 15px;
  border: 0.5px solid grey;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  background-color: beige;
  color: blue;
}

.add-movie-form .form-group{
  display: flex;
  justify-content: space-between;
  
}

.add-movie-form input[type=text],input[type=textarea],select{
  flex: 0.67;
  border: none;
  border-bottom: 1px solid grey;
}

.add-movie-form input[type=text],input[type=textarea],select:focus{
  outline: 0;
}

.add-movie-form button{
  width: 100%;
}








